body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200;
}

h1 {
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

nav {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin: auto;
    border-radius: 8px;
}

nav a:hover {
    color: darkcyan;
    text-emphasis: underline;
}
nav a {
    margin: 0 15 px;
    text-emphasis: none;
    color: lightpurple;
    font-variant: initial;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    text-align: center;
    color: darkslateblue;
}

.center-iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}